.gallery {
  color: white;
    height: 100vh;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 10px;
}

.gallery__title {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.image {
  height: 250px;
}
