.footer {
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  height: 100vh;
  /* background-color: #F27620; */
  /* background-color: black; */
  background: rgb(5, 32, 59);
}

.footer__container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  /* margin: 88px 0 0; */
  color: white;
  /* background-color: green; */
  padding: 88px 0 88px;
}

/* .footer__c{
    /* background-color: red; 
} */

.footer__title {
  margin-bottom: 20px;
  font-size: 22px;
  text-shadow: 0 0 2.5px white;
}

.footer__links {
  list-style: none;
  padding: 0;
}

.footer__icon {
  /* background-color: #fff; */
  /* height: 100%; */
  /* width: 100%; */
  /* padding-left: 40px ; */
  display: block;
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
  margin: 0 auto;
}

.footer__link {
  margin: 10px 0;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__link a {
  text-decoration: none;
  color: white;
}

.footer__link a:hover {
  color: #f27620;
}

.derechos {
  color: white;
  /* background-color: #fff; */
  text-align: center;
  /* padding-top: 80px; */
  /* width: ; */
}

.derechos__container {
  border-top: 1px solid gray;
  width: 95%;
  height: 75px;
  margin: 0 auto;
  display: flex;
  /* padding-top: 40px; */
  justify-content: space-between;
  align-items: center;
}
.back {
  display: flex;
}

.derechos__cta {
  text-decoration: none;
  color: #f27620;
  font-size: 20px;
  font-weight: bold;
}